# Centrifudge Code Owners

## Changes to .github
.github/* @mikiquantum @mustermeiszer @branan @NunoAlexandre @lemunozm

## Changes to ci
ci/* @mikiquantum @mustermeiszer @branan @NunoAlexandre @lemunozm

## Changes to the service of our chain.
node/* @mikiquantum @mustermeiszer @branan @NunoAlexandre

## Changes to chain-specs
node/res/* @mikiquantum @mustermeiszer @branan @NunoAlexandre @wischli

## Changes to specific pallets
pallets/liquidity-pools/* @NunoAlexandre @cdamian @wischli @mustermeiszer
pallets/rewards/* @lemunozm @mikiquantum
pallets/liquidity-rewards/* @lemunozm @mikiquantum
pallets/block-rewards/* @wischli @lemunozm
pallets/nft-sales/* @NunoAlexandre
pallets/keystore/* @cdamian @mikiquantum
pallets/pool-registry/* @mustermeiszer
pallets/pool-system/* @mustermeiszer @branan @offerijns
pallets/loans/* @mustermeiszer @branan @offerijns @lemunozm
pallets/interest-accrual/* @branan @lemunozm
pallets/investments/* @mustermeiszer
pallets/permissions/* @mustermeiszer
pallets/restricted-tokens/* @mustermeiszer
pallets/data-collector/* @lemunozm
pallets/fees/* @lemunozm @mikiquantum
pallets/transfer-allowlist/* @thea-leake @mustermeiszer

## Changes to specific libraries
libs/mock-builder/* @lemunozm
libs/mocks/* @lemunozm
libs/traits/src/rewards.rs @lemunozm
libs/traits/src/changes.rs @lemunozm
libs/traits/src/data.rs @lemunozm

## Changes to runtime
runtime/common/* @branan @mikiquantum @mustermeiszer @NunoAlexandre @offerijns @lemunozm
runtime/altair/* @branan @mikiquantum @mustermeiszer @NunoAlexandre @offerijns @wischli
runtime/centrifuge/* @branan @mikiquantum @mustermeiszer @NunoAlexandre @offerijns @wischli

## Changes to integration tests
runtime/integration-tests/* @mustermeiszer @NunoAlexandre @wischli @cdamian
runtime/integration-tests/rewards/* @wischli @lemunozm
runtime/integration-tests/xcm/* @NunoAlexandre
