# Centrifudge Code Owners

## Changes to .github
.github/* @mustermeiszer @NunoAlexandre @lemunozm
.github/workflows @gpmayorga
.github/actions @gpmayorga

## Changes to ci
ci/* @mustermeiszer @NunoAlexandre @lemunozm

## Changes to the service of our chain.
node/* @mustermeiszer @NunoAlexandre

## Changes to chain-specs
node/res/* @mustermeiszer @NunoAlexandre @wischli

## Changes to specific pallets
pallets/liquidity-pools/* @NunoAlexandre @cdamian @wischli @mustermeiszer
pallets/rewards/* @lemunozm
pallets/liquidity-rewards/* @lemunozm
pallets/block-rewards/* @wischli @lemunozm
pallets/nft-sales/* @NunoAlexandre
pallets/keystore/* @cdamian
pallets/pool-registry/* @mustermeiszer
pallets/pool-system/* @mustermeiszer @hieronx
pallets/loans/* @mustermeiszer @hieronx @lemunozm
pallets/interest-accrual/* @lemunozm
pallets/investments/* @mustermeiszer
pallets/permissions/* @mustermeiszer
pallets/restricted-tokens/* @mustermeiszer
pallets/data-collector/* @lemunozm
pallets/fees/* @lemunozm
pallets/transfer-allowlist/* @mustermeiszer
pallets/foreign-investments/* @wischli

## Changes to specific libraries
libs/mock-builder/* @lemunozm
libs/mocks/* @lemunozm
libs/traits/src/rewards.rs @lemunozm
libs/traits/src/changes.rs @lemunozm
libs/traits/src/data.rs @lemunozm

## Changes to runtime
runtime/common/* @mustermeiszer @NunoAlexandre @hieronx @lemunozm @wischli
runtime/altair/* @mustermeiszer @NunoAlexandre @hieronx @wischli
runtime/centrifuge/* @mustermeiszer @NunoAlexandre @hieronx @wischli

## Changes to integration tests
runtime/integration-tests/* @mustermeiszer @NunoAlexandre @wischli @cdamian
runtime/integration-tests/rewards/* @wischli @lemunozm
runtime/integration-tests/xcm/* @NunoAlexandre
