[profile.release]
panic = 'unwind'

[[bin]]
name = 'centrifuge-chain'
path = 'src/main.rs'

[build-dependencies]
vergen = '3'

[package]
authors = ['philip@centrifuge.io', 'vimukthi@centrifuge.io']
build = 'build.rs'
edition = '2018'
name = 'centrifuge-chain'
version = '2.0.1'

[dependencies]
derive_more = '0.14.0'
exit-future = '0.1'
futures = '0.1'
log = '0.4'
parking_lot = '0.9.0'
tokio = '0.1'
trie-root = '0.15.2'

[dependencies.babe]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-consensus-babe'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.babe-primitives]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-consensus-babe-primitives'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.basic-authorship]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-basic-authorship'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.codec]
package = 'parity-scale-codec'
version = '1.0.0'

[dependencies.jsonrpc-core]
package = 'jsonrpc-core'
version = '13.0.0'

[dependencies.jsonrpc-core-client]
package = 'jsonrpc-core-client'
version = '13.0.0'

[dependencies.jsonrpc-derive]
package = 'jsonrpc-derive'
version = '13.0.0'

[dependencies.serde]
package = 'serde'
version = '1.0'
features = ["derive"]

[dependencies.ctrlc]
features = ['termination']
version = '3.0'

[dependencies.hex]
package = 'hex'
version = "0.3.2"

[dependencies.grandpa]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-finality-grandpa'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.grandpa-primitives]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-finality-grandpa-primitives'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.inherents]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-inherents'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.network]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-network'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.centrifuge-chain-runtime]
path = 'runtime'

[dependencies.primitives]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-primitives'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.sr-io]
git = 'https://github.com/paritytech/substrate.git'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.sr-primitives]
git = 'https://github.com/paritytech/substrate.git'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.substrate-cli]
git = 'https://github.com/paritytech/substrate.git'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.substrate-client]
git = 'https://github.com/paritytech/substrate.git'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.substrate-executor]
git = 'https://github.com/paritytech/substrate.git'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.substrate-rpc]
git = 'https://github.com/paritytech/substrate.git'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.substrate-service]
git = 'https://github.com/paritytech/substrate.git'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'

[dependencies.transaction-pool]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-transaction-pool'
rev = '4e1d637bf64e3437fa40f9e9e8460a5a0c0d9324'
