version: '3'
services:
  node_alice:
    container_name: alice
    image: "parity/polkadot:v0.9.11"
    ports:
      - "30333:30333"
      - "9933:9933"
      - "9944:9944"
    volumes:
      - type: bind
        source: ./res/rococo-local.json
        target: /chainspec.json
        read_only: true
    command: >
      --chain=/chainspec.json
      --wasm-execution=compiled
      --execution=wasm
      --no-beefy
      --base-path=/data
      --port 30333
      --rpc-port 9933
      --ws-port 9944
      --rpc-external
      --rpc-cors all
      --ws-external
      --rpc-methods=Unsafe
      --alice
      --log="main,debug"

  node_bob:
    container_name: bob
    image: "parity/polkadot:v0.9.11"
    ports:
      - "30344:30333"
      - "9935:9933"
      - "9945:9944"
    volumes:
      - type: bind
        source: ./res/rococo-local.json
        target: /chainspec.json
        read_only: true
    command: >
      --chain=/chainspec.json
      --base-path=/data
      --wasm-execution=compiled
      --execution=wasm
      --no-beefy
      --port 30333
      --rpc-port 9933
      --ws-port 9944
      --rpc-external
      --ws-external
      --rpc-cors all
      --rpc-methods=Unsafe
      --bob
      --log="main,info"
