version: "3.7"
services:
  alice:
    image: centrifugeio/centrifuge-chain:latest
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 2000M
      restart_policy:
        condition: on-failure
    ports:
      - 9933:9933
      - 9944:9944
      - 30333:30333
    expose:
      - 9933
      - 9944
      - 30333
    networks:
      kerplunk-network:
        ipv4_address: 172.42.0.2
    volumes:
      - "~/tmp/centrifuge-chain/alice/:/data"
    entrypoint:
      - vegansteak
      - --dev
      - --ws-external
      - --validator
      - --name=Alice
      - --key=//Alice
      - --node-key=2a654a0958cd0e10626c36057c46a08018eaf2901f9bab74ecc1144f714300ac
      # - --chain=/var/local/chainSpec.raw.json
      - --chain=local
      - --bootnodes=/ip4/172.42.0.3/tcp/30333/p2p/QmSqbcHcJh7DvKDdMYxWREtnAfqqxLiX7J2YDGiV6e5LQq
  babette:
    image: centrifugeio/kerplunk-chain:latest
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 2000M
      restart_policy:
        condition: on-failure
    ports:
      - 9934:9933
      - 9945:9944
      - 30334:30333
    expose:
      - 9933
      - 9944
      - 30333
    networks:
      kerplunk-network:
        ipv4_address: 172.42.0.3
    volumes:
      - "~tmp/centrifuge-chain/babette/:/data"
    entrypoint:
      - vegansteak
      - --dev
      - --ws-external
      - --validator
      - --name=Babette
      - --node-key=66ef62065cfdc48929b5cb9c1bbc0a728e6d1d43b4ba1de13ccf76c7ecec66e9
      - --key=//Bob
      # - --chain=/var/local/chainSpec.raw.json
      - --chain=local
      - --bootnodes=/ip4/172.42.0.2/tcp/30333/p2p/QmctF8dCW8LBr6zqVEUJHmjmqFcsxjV91tuUL7rVLg3Zd6

# Note here that Charlie is not part of the initial validators of the chainspec
# Charlie is a node that is just a client but could be voted in/added as an authorituy to validate 
  # charlie:
  #   image: centrifugeio/kerplunk-chain:latest
  #   deploy:
  #     replicas: 1
  #     resources:
  #       limits:
  #         cpus: "1"
  #         memory: 2000M
  #     restart_policy:
  #       condition: on-failure
  #   ports:
  #     - 9935:9933
  #     - 9946:9944
  #     - 30335:30333
  #   expose:
  #     - 9933
  #     - 9944
  #     - 30333
  #   networks:
  #     kerplunk-network:
  #       ipv4_address: 172.42.0.4
  #   volumes:
  #     - "/tmp/kerplunk/charlie/:/data"
  #   entrypoint:
  #     - kerplunk
  #     - --dev
  #     - --ws-external
  #     - --validator
  #     - --name=Charlie
  #     - --key=//Charlie
  #     - --node-key=5c3a2dd5322eec93508741c986dc35b31b292efb4deeb66af735760119b9002b
  #     # - --chain=/var/local/chainSpec.raw.json
  #     - --chain=local
  #     - --bootnodes=/ip4/172.42.0.2/tcp/30333/p2p/QmctF8dCW8LBr6zqVEUJHmjmqFcsxjV91tuUL7rVLg3Zd6      
networks:
  kerplunk-network:
    ipam:
      driver: default
      config:
          - subnet: 172.42.0.0/16