version: "3.7"
services:
  validator-alice:
    image: centrifugeio/centrifuge-chain:latest
    # deploy:
    #   replicas: 1
    #   resources:
    #     limits:
    #       cpus: "1"
    #       memory: 2000M
    #   restart_policy:
    #     condition: on-failure
    ports:
      - 9933:9933
      - 9944:9944
      - 30333:30333
    networks:
      - internet
    volumes:
      - "~/tmp/centrifuge-chain/alice/:/data"
    entrypoint:
      - centrifuge-chain
      # Local node id: QmRpheLN4JWdAnY7HGJfWFNbfkQCb6tFf4vvA6hgjMZKrR
      - --node-key=0000000000000000000000000000000000000000000000000000000000000001
      - --chain=local
      - --alice
      - --bootnodes=/dns4/validator-bob/tcp/30333/p2p/QmSVnNf9HwVMT1Y4cK1P6aoJcEZjmoTXpjKBmAABLMnZEk
      - --bootnodes=/dns4/validator-charlie/tcp/30333/p2p/QmV7EhW6J6KgmNdr558RH1mPx2xGGznW7At4BhXzntRFsi
      - --ws-external
      - --rpc-external
      - --no-telemetry
      - --rpc-cors=all
  validator-bob:
    image: centrifugeio/centrifuge-chain:latest
    # deploy:
    #   replicas: 1
    #   resources:
    #     limits:
    #       cpus: "1"
    #       memory: 2000M
    #   restart_policy:
    #     condition: on-failure
    ports:
      - 9934:9933
      - 9945:9944
      - 30334:30333
    networks:
      - internet
    volumes:
      - "~/tmp/centrifuge-chain/bob/:/data"
    entrypoint:
      - centrifuge-chain
      # Local node id: QmSVnNf9HwVMT1Y4cK1P6aoJcEZjmoTXpjKBmAABLMnZEk
      - --node-key=0000000000000000000000000000000000000000000000000000000000000002
      - --chain=local
      - --bob
      - --bootnodes=/dns4/validator-alice/tcp/30333/p2p/QmRpheLN4JWdAnY7HGJfWFNbfkQCb6tFf4vvA6hgjMZKrR
      - --bootnodes=/dns4/validator-charlie/tcp/30333/p2p/QmV7EhW6J6KgmNdr558RH1mPx2xGGznW7At4BhXzntRFsi
      - --ws-external
      - --rpc-external
      - --no-telemetry
      - --rpc-cors=all
  validator-charlie:
    image: centrifugeio/centrifuge-chain:latest
    # deploy:
    #   replicas: 1
    #   resources:
    #     limits:
    #       cpus: "1"
    #       memory: 2000M
    #   restart_policy:
    #     condition: on-failure
    ports:
      - 9935:9933
      - 9946:9944
      - 30335:30333
    networks:
      - internet
    volumes:
      - "~/tmp/centrifuge-chain/charlie/:/data"
    entrypoint:
      - centrifuge-chain
      # Local node id: QmV7EhW6J6KgmNdr558RH1mPx2xGGznW7At4BhXzntRFsi
      - --node-key=0000000000000000000000000000000000000000000000000000000000000003
      - --chain=local
      - --charlie
      - --bootnodes=/dns4/validator-alice/tcp/30333/p2p/QmRpheLN4JWdAnY7HGJfWFNbfkQCb6tFf4vvA6hgjMZKrR
      - --bootnodes=/dns4/validator-bob/tcp/30333/p2p/QmSVnNf9HwVMT1Y4cK1P6aoJcEZjmoTXpjKBmAABLMnZEk
      - --ws-external
      - --rpc-external
      - --no-telemetry
      - --rpc-cors=all
  # ui:
  #   image: polkadot-js/apps
  #   ports:
  #     - "3000:80"
networks:
  internet:
