[package]
authors = ["Centrifuge <admin@centrifuge.io>"]
description = "Pallet to handle loans from borrowers"
edition = "2021"
license = "LGPL-3.0"
name = "pallet-loans"
repository = "https://github.com/centrifuge/centrifuge-chain"
version = "1.0.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
sp-arithmetic = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

cfg-primitives = { workspace = true }
cfg-traits = { workspace = true }
cfg-types = { workspace = true }
orml-traits = { workspace = true }

strum = { workspace = true }

# Optionals for benchmarking
frame-benchmarking = { workspace = true, optional = true }

[dev-dependencies]
sp-core = { workspace = true, default-features = true }
sp-io = { workspace = true, default-features = true }

pallet-balances = { workspace = true, default-features = true }
pallet-interest-accrual = { workspace = true, default-features = true }
pallet-timestamp = { workspace = true, default-features = true }
pallet-uniques = { workspace = true, default-features = true }

cfg-mocks = { workspace = true, default-features = true }

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "scale-info/std",
  "frame-support/std",
  "frame-system/std",
  "sp-arithmetic/std",
  "sp-runtime/std",
  "sp-std/std",
  "cfg-primitives/std",
  "cfg-traits/std",
  "cfg-types/std",
  "frame-benchmarking/std",
  "strum/std",
  "orml-traits/std",
]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "cfg-primitives/runtime-benchmarks",
  "cfg-traits/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
  "pallet-uniques/runtime-benchmarks",
  "cfg-mocks/runtime-benchmarks",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "sp-runtime/try-runtime",
  "cfg-primitives/try-runtime",
  "cfg-traits/try-runtime",
  "cfg-types/try-runtime",
  "cfg-mocks/try-runtime",
  "sp-runtime/try-runtime",
]
