[package]
name = "runtime-common"
version = "1.0.0"
authors = ["Centrifuge <admin@centrifuge.io>"]
edition = "2021"
license = "LGPL-3.0"
homepage = "https://centrifuge.io/"
repository = "https://github.com/centrifuge/centrifuge-chain"

[dependencies]
smallvec = "1.6.1"

# Substrate dependencies
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
scale-info = { version = "2.3.0", default-features = false, features = ["derive"] }

frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
pallet-authorship = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
pallet-balances = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
pallet-treasury = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }

# Polkadot dependencies
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.38" }

# ORML dependencies
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "polkadot-v0.9.38" }

# Local Dependencies
cfg-primitives = { path = "../../libs/primitives", default-features = false }
cfg-types = { path = "../../libs/types", default-features = false }
pallet-anchors = { path = "../../pallets/anchors", default-features = false }
pallet-pool-system = { path = "../../pallets/pool-system", default-features = false }

[dev-dependencies]
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }

[features]
default = ["std"]
std = [
  "codec/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-authorship/std",
  "pallet-balances/std",
  "pallet-treasury/std",
  "sp-core/std",
  "sp-api/std",
  "sp-std/std",
  "sp-arithmetic/std",
  "sp-core/std",
  "sp-runtime/std",
  "cfg-types/std",
  "pallet-anchors/std",
  "frame-support/std",
  "frame-system/std",
  "cfg-primitives/std",
  "cfg-types/std",
  "orml-traits/std",
  "pallet-pool-system/std",
  "scale-info/std",
  "xcm/std",
]
runtime-benchmarks = [
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "cfg-primitives/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
  "pallet-anchors/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-pool-system/runtime-benchmarks",
  "pallet-treasury/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
#  "xcm/runtime-benchmarks",
]

on-chain-release-build = [
  "sp-api/disable-logging",
]
try-runtime = [
  "cfg-primitives/try-runtime",
  "frame-support/try-runtime",
  "cfg-types/try-runtime",
  "frame-system/try-runtime",
  "pallet-anchors/try-runtime",
  "pallet-authorship/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-pool-system/try-runtime",
  "pallet-treasury/try-runtime",
  "cfg-primitives/try-runtime",
]
