[package]
name = 'pallet-registry'
description = 'Verifiable asset (VA) registry for minting and managing non-fungible tokens (NFTs)'
authors = ['The Centrifugians Tribe']
edition = '2018'
homepage = 'https://centrifuge.io'
license = "LGPL-3.0"
repository = 'https://github.com/paritytech/centrifuge-chain'
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Substrate basic primitives
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.12" }
frame-system = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.12" }
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", default-features = false, optional = true, branch = "polkadot-v0.9.12" }
pallet-authorship = { git = "https://github.com/paritytech/substrate",  default-features = false, branch = "polkadot-v0.9.12" }
pallet-balances = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.12" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate",  default-features = false, branch = "polkadot-v0.9.12" }
sp-core = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.12" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.12" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.12" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.12" }

# Centrifuge chain dependencies
common-traits = { path = "../../libs/common-traits", default-features = false }
pallet-anchors = { path = "../anchors", default-features = false }
pallet-nft = { path = "../nft", default-features = false }
proofs = { path = "../../libs/proofs", default-features = false }
runtime-common = { path = "../../runtime/common", default-features = false }
unique-assets = { git = "https://github.com/centrifuge/unique-assets", default-features = false, branch = "master" }

[dev-dependencies]
# Testing and mocking dependencies
chainbridge = { git = "https://github.com/centrifuge/chainbridge-substrate.git", default-features = false, branch = "master" }
pallet-fees = { path = "../fees", default-features = false }
proofs = { path = "../../libs/proofs", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.12" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.12" }

[features]
default = ['std']
runtime-benchmarks = ["frame-benchmarking"]
std = [
  'codec/std',
  'common-traits/std',
  'frame-support/std',
  'frame-system/std',
  'pallet-anchors/std',
  'pallet-authorship/std',
  'pallet-balances/std',
  'pallet-timestamp/std',
  'pallet-nft/std',
  'proofs/std',
  'sp-core/std',
  'sp-io/std',
  'sp-runtime/std',
  'sp-std/std',
  'unique-assets/std',
]
