[package]
authors = ["Centrifuge <admin@centrifuge.io>"]
description = "Centrifuge Pool System pallet"
edition = "2021"
license = "LGPL-3.0"
name = "pallet-pool-system"
repository = "https://github.com/centrifuge/centrifuge-chain"
version = "3.0.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", features = ["derive"], default-features = false }
lazy_static = { version = "1.4.0", optional = true, default-features = false }
log = { version = "0.4.0", default-features = false }
rev_slice = { version = "0.1.5", default-features = false }
scale-info = { version = "2.3.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.119" }
strum = { version = "0.24", default-features = false, features = ["derive"] }

cfg-primitives = { path = "../../libs/primitives", default-features = false }
cfg-traits = { path = "../../libs/traits", default-features = false }
cfg-types = { path = "../../libs/types", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.43" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.43" }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "polkadot-v0.9.43" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.43" }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.43" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.43" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.43" }

pallet-permissions = { path = "../../pallets/permissions", default-features = false }

# Benchmarking dependencies - optional
frame-benchmarking = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.43" }
orml-asset-registry = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, optional = true, branch = "polkadot-v0.9.43" }
pallet-investments = { path = "../../pallets/investments", default-features = false, optional = true }

[dev-dependencies]
cfg-test-utils = { path = "../../libs/test-utils", default-features = true }
orml-asset-registry = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "polkadot-v0.9.43" }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = true, branch = "polkadot-v0.9.43" }
pallet-balances = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.43" }
pallet-investments = { path = "../../pallets/investments", default-features = true }
pallet-restricted-tokens = { path = "../../pallets/restricted-tokens", default-features = true }
parachain-info = { git = "https://github.com/paritytech/cumulus", default-features = true, branch = "polkadot-v0.9.43" }
rand = "0.8.5"
sp-core = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.43" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.43" }
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.43" }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "cfg-primitives/runtime-benchmarks",
  "cfg-traits/runtime-benchmarks",
  "cfg-test-utils/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-investments/runtime-benchmarks",
  "pallet-permissions/runtime-benchmarks",
  "orml-asset-registry/runtime-benchmarks",
]
std = [
  "log/std",
  "codec/std",
  "scale-info/std",
  "rev_slice/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-timestamp/std",
  "sp-arithmetic/std",
  "sp-runtime/std",
  "sp-std/std",
  "strum/std",
  "orml-traits/std",
  "cfg-traits/std",
  "cfg-types/std",
  "cfg-primitives/std",
  "pallet-permissions/std",
  "frame-benchmarking/std",
  "serde/std",
]
try-runtime = [
  "cfg-primitives/try-runtime",
  "cfg-traits/try-runtime",
  "frame-support/try-runtime",
  "lazy_static/spin_no_std",
  "cfg-types/try-runtime",
  "frame-system/try-runtime",
  "pallet-permissions/try-runtime",
  "pallet-timestamp/try-runtime",
  "sp-runtime/try-runtime",
]
