[package]
name = "axelar-gateway-precompile"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", features = ["derive"], default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
scale-info = { version = "2.3.0", default-features = false, features = ["derive"] }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }

precompile-utils  = { git = "https://github.com/PureStake/moonbeam", default-features = false,  rev = "00b3e3d97806e889b02e1bcb4b69e65433dd805d" }
fp-evm = { git = "https://github.com/PureStake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.38" }
pallet-evm = { git = "https://github.com/PureStake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.38" }
ethabi = {version = "18.0.0", default-features = false }

pallet-connectors-gateway = {path = "../../connectors-gateway", default-features = false}
cfg-types = {path = "../../../libs/types", default-features = false}

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-support/std",
    "frame-system/std",
    "sp-std/std",
    "sp-core/std",
    "sp-io/std",
    "sp-runtime/std",
    "scale-info/std",
    "fp-evm/std",
    "precompile-utils/std",
    "pallet-evm/std",
    "pallet-connectors-gateway/std",
    "cfg-types/std",
    "ethabi/std"
]
try-runtime = [
    "frame-support/try-runtime",
    "frame-system/try-runtime",
    "pallet-connectors-gateway/try-runtime",
    "cfg-types/try-runtime",
    "pallet-evm/try-runtime",
]
