[package]
name = "pallet-crowdloan-reward"
description = "Module for processing crowdloan claim rewards."
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# General dependencies
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }

# Substrae dependencies
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-balances = { workspace = true }
pallet-vesting = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# Local dependencies
cfg-traits = { workspace = true }

[dev-dependencies]
cfg-types = { workspace = true, default_features = true }
pallet-vesting = { workspace = true, default_features = true }
serde = { workspace = true }
sp-core = { workspace = true, default_features = true }

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "scale-info/std",
  "sp-std/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-balances/std",
  "pallet-vesting/std",
  "cfg-traits/std",
  "frame-benchmarking/std",
  "sp-runtime/std",
]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "cfg-traits/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
]
try-runtime = [
  "cfg-types/try-runtime",
  "cfg-traits/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "pallet-balances/try-runtime",
  "sp-runtime/try-runtime",
]
