[package]
name = "pallet-restricted-xtokens"
authors.workspace = true
description = "A wrapper pallet around orml-xtokens to allow restricting transfers"
edition.workspace = true
license.workspace = true
repository.workspace = true
version = "0.0.1"

[dependencies]
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true, optional = true }

# substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-std = { workspace = true }

# orml
orml-traits = { workspace = true }
orml-xtokens = { workspace = true }

# polkadot
xcm = { workspace = true }

# local
cfg-traits = { workspace = true }

[features]
default = ["std"]
std = [
  "serde",
  "parity-scale-codec/std",
  "sp-std/std",
  "cfg-traits/std",
  "frame-support/std",
  "frame-system/std",
  "scale-info/std",
  "orml-xtokens/std",
  "orml-traits/std",
  "xcm/std",
]

runtime-benchmarks = [
  "cfg-traits/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "orml-xtokens/runtime-benchmarks",
]
try-runtime = [
  "cfg-traits/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "orml-xtokens/try-runtime",
]
