[package]
name = "runtime-integration-tests"
version = "0.1.0"
authors = ["Centrifuge <admin@centrifuge.io>"]
edition = "2021"
license = "LGPL-3.0"
build = "build.rs"
homepage = "https://centrifuge.io/"
repository = "https://github.com/centrifuge/centrifuge-chain"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0", default-features = false, features = ["derive"] }
fudge = { git = "https://github.com/centrifuge/fudge", branch = "polkadot-v0.9.38" }
lazy_static = "1.4.0"
serde = { version = "1.0.119" }
tokio = { version = "1.15", features = ["macros"] }
tracing-subscriber = "0.2"
serde_json = "1.0.107"

# Substrate
## Substrate-Frame
frame-benchmarking = { git = "https://github.com/paritytech/substrate", optional = true, branch = "polkadot-v0.9.38" }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
pallet-aura = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
pallet-collective = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
pallet-democracy = { git = "https://github.com/paritytech//substrate", rev = "bcff60a227d455d95b4712b6cb356ce56b1ff672" }
pallet-preimage = { git = "https://github.com/paritytech//substrate", rev = "bcff60a227d455d95b4712b6cb356ce56b1ff672" }
pallet-transaction-payment = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
pallet-uniques = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }

## Substrate-Primitives
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
#sp-authorship = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sp-consensus-babe = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sp-consensus-slots = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" , features = ["full_crypto", "default"]}
sp-inherents = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.38" }
sp-tracing = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }

## Substrate-Client
node-primitives = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
#sc-consensus-uncles = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sc-executor = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
sc-service = { git = "https://github.com/paritytech/substrate", features = ["rocksdb", "test-helpers"], branch = "polkadot-v0.9.38" }

# Polkadot
kusama-runtime = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
pallet-xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
polkadot-core-primitives = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
polkadot-runtime = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
polkadot-runtime-common = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
polkadot-runtime-parachains = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
rococo-runtime = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }
xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.38" }

# Cumulus
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.38" }
parachain-info = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.38" }

# Orml pallets
orml-asset-registry = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "polkadot-v0.9.38" }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.38" }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.38" }
orml-xtokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.38" }

# Misc
xcm-emulator = { git = "https://github.com/shaunxw/xcm-simulator", rev = "754f3b90ecc65af735a6c9a2e1792c5253926ff6" }

# Local
altair-runtime = { path = "../altair" }
centrifuge-runtime = { path = "../centrifuge" }
cfg-primitives = { path = "../../libs/primitives" }
cfg-traits = { path = "../../libs/traits" }
development-runtime = { path = "../development" }
runtime-common = { path = "../common" }

getrandom = { version = "0.2", features = ["js"] }
hex = { version = "0.4.3" }

cfg-types = { path = "../../libs/types" }
cfg-utils = { path = "../../libs/utils" }

ethabi = { version = "16.0" }
ethabi-contract = { version = "16.0" }
ethabi-derive = { version = "16.0" }
ethereum = { version = "0.14.0" }

pallet-ethereum = { git = "https://github.com/PureStake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.38" }
pallet-evm = { git = "https://github.com/PureStake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.38" }
pallet-evm-chain-id = { git = "https://github.com/PureStake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.38" }

axelar-gateway-precompile = { path = "../../pallets/liquidity-pools-gateway/axelar-gateway-precompile" }
liquidity-pools-gateway-routers = { path = "../../pallets/liquidity-pools-gateway/routers" }
pallet-block-rewards = { path = "../../pallets/block-rewards" }
pallet-ethereum-transaction = { path = "../../pallets/ethereum-transaction" }
pallet-foreign-investments = { path = "../../pallets/foreign-investments" }
pallet-investments = { path = "../../pallets/investments" }
pallet-liquidity-pools = { path = "../../pallets/liquidity-pools" }
pallet-liquidity-pools-gateway = { path = "../../pallets/liquidity-pools-gateway" }
pallet-loans = { path = "../../pallets/loans" }
pallet-order-book = { path = "../../pallets/order-book" }
pallet-permissions = { path = "../../pallets/permissions" }
pallet-pool-registry = { path = "../../pallets/pool-registry" }
pallet-pool-system = { path = "../../pallets/pool-system" }
pallet-rewards = { path = "../../pallets/rewards" }

pallet-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }
pallet-xcm-transactor = { git = "https://github.com/PureStake/moonbeam", default-features = false, rev = "00b3e3d97806e889b02e1bcb4b69e65433dd805d" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.38" }
xcm-executor = { git = "https://github.com/paritytech/polkadot", default-features = true, branch = "release-v0.9.38" }

pallet-collator-selection = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.38" }

[features]
default = [
  "runtime-development",
  "development-runtime/instant-voting",
]
fast-runtime = ["development-runtime/fast-runtime"]
std = [
  "altair-runtime/std",
  "centrifuge-runtime/std",
  "cfg-primitives/std",
  "cumulus-primitives-core/std",
  "development-runtime/std",
  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
  "kusama-runtime/std",
  "node-primitives/std",
  "orml-asset-registry/std",
  "orml-tokens/std",
  "orml-traits/std",
  "orml-xtokens/std",
  "pallet-aura/std",
  "pallet-balances/std",
  "pallet-foreign-investments/std",
  "pallet-investments/std",
  "pallet-order-book/std",
  "pallet-transaction-payment/std",
  "pallet-uniques/std",
  "pallet-xcm/std",
  "parachain-info/std",
  "codec/std",
  "polkadot-core-primitives/std",
  "polkadot-parachain/std",
  "polkadot-primitives/std",
  "polkadot-runtime/std",
  "polkadot-runtime-common/std",
  "polkadot-runtime-parachains/std",
  "rococo-runtime/std",
  "runtime-common/std",
  "sc-executor/std",
  "serde/std",
  "sp-api/std",
  "sp-consensus-aura/std",
  "sp-consensus-babe/std",
  "sp-consensus-slots/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-runtime/std",
  "sp-tracing/std",
  "xcm/std",
  "getrandom/std",
  "pallet-collective/std",
  "pallet-democracy/std",
  "pallet-preimage/std",
  "ethabi/std",
]

runtime-benchmarks = [
  "default",
  "development-runtime/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "kusama-runtime/runtime-benchmarks",
  "fudge/runtime-benchmarks",
  "altair-runtime/runtime-benchmarks",
  "centrifuge-runtime/runtime-benchmarks",
  "cfg-primitives/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "orml-asset-registry/runtime-benchmarks",
  "orml-tokens/runtime-benchmarks",
  "orml-xtokens/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-foreign-investments/runtime-benchmarks",
  "pallet-investments/runtime-benchmarks",
  "pallet-order-book/runtime-benchmarks",
  "pallet-uniques/runtime-benchmarks",
  "pallet-xcm/runtime-benchmarks",
  "polkadot-parachain/runtime-benchmarks",
  "polkadot-primitives/runtime-benchmarks",
  "polkadot-runtime/runtime-benchmarks",
  "polkadot-runtime-common/runtime-benchmarks",
  "polkadot-runtime-parachains/runtime-benchmarks",
  "rococo-runtime/runtime-benchmarks",
  "runtime-common/runtime-benchmarks",
  "sc-service/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "pallet-collective/runtime-benchmarks",
  "pallet-democracy/runtime-benchmarks",
  "pallet-preimage/runtime-benchmarks",
]
runtime-development = []
runtime-altair = []
runtime-centrifuge = []
