[package]
name = "runtime-integration-tests"
version = "0.1.0"
authors = ["Centrifuge <admin@centrifuge.io>"]
edition = "2021"
license = "LGPL-3.0"
homepage = "https://centrifuge.io/"
repository = "https://github.com/centrifuge/centrifuge-chain"


[dependencies]
fudge = { git = "https://github.com/centrifuge/fudge", tag = "v0.0.1-polkadot-v0.9.17"}

# Substrate
## Substrate-Frame
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.17" }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.17" }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.17" }
pallet-babe = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.17" }
## Substrate-Primitives
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.17" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.17" }
sp-authorship = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.17" }
sp-consensus-babe = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.17" }
sp-inherents = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.17" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.17" }
## Substrate-Client
sc-service = { git = "https://github.com/paritytech/substrate", features = ["db", "test-helpers"], branch = "polkadot-v0.9.17" }
sc-executor = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.17" }
sc-consensus-uncles = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.17" }

# Polkadot
pallet-xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.17" }
polkadot-parachain = {git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.17" }
polkadot-primitives = {git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.17" }
polkadot-runtime-parachains = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.17" }
polkadot-core-primitives = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.17" }
xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.17" }
xcm-builder = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.17" }
polkadot-runtime = { git = "https://github.com/paritytech/polkadot", default-features = true, branch = "release-v0.9.17", optional = true }
kusama-runtime = { git = "https://github.com/paritytech/polkadot", default-features = true, branch = "release-v0.9.17", optional = true }
rococo-runtime = { git = "https://github.com/paritytech/polkadot", default-features = true, branch = "release-v0.9.17", optional = true }

# Cumulus
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.17" }
parachain-info = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.17" }

# Orml pallets
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "master" }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "master" }
orml-xcm-support = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "master" }
orml-xtokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "master" }

# Misc
xcm-emulator = { git = "https://github.com/shaunxw/xcm-simulator", rev="24ccbce563d1f99019b4cdfa2f3af4e99bac0dfc" }

# Local
runtime-common = { path = "../common" }
development-runtime = { path = "../development", optional = true }
altair-runtime = { path = "../altair", optional = true }
centrifuge-runtime = { path = "../centrifuge", optional = true }

common-traits = { path = "../../libs/common-traits" }

[dev-dependencies]
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.17" }

[features]
default = [ "runtime-development" ]
runtime-development = ["rococo-runtime", "development-runtime"]
runtime-altair = ["kusama-runtime", "altair-runtime"]
runtime-centrifuge = ["polkadot-runtime", "centrifuge-runtime"]