[package]
name = 'pallet-crowdloan-claim'
description = 'Module for processing crowdloan claim rewards.'
authors = ['The Centrifugians Tribe']
edition = '2021'
homepage = 'https://centrifuge.io'
license = "LGPL-3.0"
repository = 'https://github.com/centrifuge/centrifuge-chain'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# General dependencies
codec = { package = "parity-scale-codec", version = "3.0", default-features = false }
scale-info = { version = "2.3.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.119" }

# Substrate dependencies
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.33" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.33" }
pallet-balances = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.33" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.33" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.33" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.33" }

# optional dependencies for benchmarking
frame-benchmarking = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.33" }

# Local dependencies
cfg-traits = { path = '../../libs/traits', default_features = false }
cfg-types = { path = "../../libs/types", default-features = false }
proofs = { path = '../../libs/proofs', default_features = false }

[dev-dependencies]
hex = { version = "0.4.3", default_features = true }
pallet-crowdloan-reward = { path = '../crowdloan-reward', default_features = true }
pallet-vesting = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.33" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.33" }
sp-keyring = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.33" }
sp-trie = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.33" }

[features]
default = ['std']
runtime-benchmarks = ["frame-benchmarking"]
std = [
  'codec/std',
  'frame-support/std',
  'frame-system/std',
  'pallet-balances/std',
  'sp-std/std',
  'cfg-traits/std',
  'proofs/std',
]
try-runtime = ["frame-support/try-runtime"]
