[package]
name = 'pallet-crowdloan-claim'
description = 'Module for processing crowdloan claim rewards.'
authors = ['The Centrifugians Tribe']
edition = '2021'
homepage = 'https://centrifuge.io'
license = "LGPL-3.0"
repository = 'https://github.com/centrifuge/centrifuge-chain'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# General dependencies
codec = { package = "parity-scale-codec", version = "3.0", default-features = false }
serde = { version = "1.0.119" }
scale-info = { version = "2.0", default-features = false, features = ["derive"] }

# Substrate dependencies
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
pallet-balances = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }

# optional dependencies for benchmarking
frame-benchmarking = { git = "https://github.com/paritytech/substrate",  default-features = false , optional = true , branch = "polkadot-v0.9.29" }
schnorrkel = { version = "0.10.2", features = ["u64_backend"], default-features = false, optional = true }
getrandom = { version = "0.2", default-features = false, optional = true }
rand_core = { version = "0.6.2", default-features = false, optional = true}


# Local dependencies
cfg-traits = { path= '../../libs/traits', default_features = false }
proofs = { path= '../../libs/proofs', default_features = false }

[dev-dependencies]
sp-io = { git = "https://github.com/paritytech/substrate", default-features = true , branch = "polkadot-v0.9.29" }
sp-trie = { git = "https://github.com/paritytech/substrate", default-features = true , branch = "polkadot-v0.9.29" }
sp-keyring = { git = "https://github.com/paritytech/substrate", default-features = true , branch = "polkadot-v0.9.29" }
pallet-vesting = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.29" }
pallet-crowdloan-reward = { path='../crowdloan-reward', default_features = true }
hex = { version="0.4.3", default_features = true }



[features]
default = ['std']
runtime-benchmarks = ["frame-benchmarking"]
std = [
  'codec/std',
  'frame-support/std',
  'frame-system/std',
  'pallet-balances/std',
  'sp-std/std',
  'cfg-traits/std',
  'proofs/std',
]

