[package]
name = "pallet-liquidity-pools"
description = "Centrifuge Liquidity Pools Pallet"
version = "0.0.1"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
ethabi = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
hex = { workspace = true }
orml-traits = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# Substrate crates
sp-core = { workspace = true }

# Optional dependencies for benchmarking
frame-benchmarking = { workspace = true, optional = true }
orml-tokens = { workspace = true, optional = true }
pallet-balances = { workspace = true, optional = true }
pallet-uniques = { workspace = true, optional = true }

# Our custom pallets
cfg-primitives = { workspace = true }
cfg-traits = { workspace = true }
cfg-types = { workspace = true }
cfg-utils = { workspace = true }

# Polkadot
staging-xcm = { workspace = true }

fp-self-contained = { workspace = true }
pallet-ethereum = { workspace = true }
xcm-primitives = { workspace = true }

[dev-dependencies]
hex = { workspace = true, default-features = true }
serde = { workspace = true }

# Substrate crates & pallets
pallet-balances = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-uniques = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "cfg-types/std",
  "cfg-traits/std",
  "cfg-utils/std",
  "frame-support/std",
  "frame-system/std",
  "sp-std/std",
  "sp-runtime/std",
  "orml-tokens/std",
  "orml-traits/std",
  "pallet-balances/std",
  "staging-xcm/std",
  "pallet-ethereum/std",
  "xcm-primitives/std",
  "ethabi/std",
  "pallet-uniques/std",
  "cfg-primitives/std",
  "frame-benchmarking/std",
  "scale-info/std",
  "fp-self-contained/std",
]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "orml-tokens/runtime-benchmarks",
  "cfg-primitives/runtime-benchmarks",
  "cfg-traits/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
  "cfg-utils/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-ethereum/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "xcm-primitives/runtime-benchmarks",
]
try-runtime = [
  "cfg-primitives/try-runtime",
  "cfg-traits/try-runtime",
  "frame-support/try-runtime",
  "cfg-primitives/try-runtime",
  "cfg-types/try-runtime",
  "cfg-utils/try-runtime",
  "frame-system/try-runtime",
  "pallet-ethereum/try-runtime",
  "pallet-balances/try-runtime",
  "fp-self-contained/try-runtime",
  "sp-runtime/try-runtime",
]
