[package]
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
name = "pallet-pool-fees"
description = "Pool Fees Pallet"
version = "0.0.1"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dev-dependencies]
cfg-mocks = { workspace = true, default-features = true }
pallet-balances = { workspace = true, default-features = true }
pallet-timestamp = { workspace = true, default-features = true }
orml-tokens = { workspace = true, default-features = true }
orml-traits = { workspace = true, default-features = true }
rand = "0.8.5"

[dependencies]
codec = { package = "parity-scale-codec", workspace = true, features = ["derive"] }
log = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }

frame-benchmarking.workspace = true
frame-support.workspace = true
frame-system.workspace = true
sp-arithmetic.workspace = true
sp-core.workspace = true
sp-io.workspace = true
sp-runtime.workspace = true
sp-std.workspace = true

cfg-primitives.workspace = true
cfg-traits.workspace = true
cfg-types.workspace = true

[features]
default = ["std"]
runtime-benchmarks = [
    "cfg-primitives/runtime-benchmarks",
    "cfg-traits/runtime-benchmarks",
    "cfg-types/runtime-benchmarks",
    "frame-benchmarking/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "pallet-timestamp/runtime-benchmarks",
    "sp-runtime/runtime-benchmarks",
]
std = [
    "cfg-mocks/std",
    "cfg-primitives/std",
    "cfg-traits/std",
    "cfg-types/std",
    "codec/std",
    "frame-support/std",
    "frame-system/std",
    "frame-benchmarking/std",
    "log/std",
    "orml-tokens/std",
    "orml-traits/std",
    "pallet-balances/std",
    "scale-info/std",
    "sp-core/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-arithmetic/std",
    "sp-std/std",
    "pallet-timestamp/std",
]
try-runtime = [
    "cfg-primitives/try-runtime",
    "cfg-traits/try-runtime",
    "cfg-types/try-runtime",
    "frame-support/try-runtime",
    "frame-system/try-runtime",
    "pallet-timestamp/try-runtime",
    "sp-runtime/try-runtime",
]
