[package]
authors = ["Centrifuge <admin@centrifuge.io>"]
description = "Centrifuge Liquidity Pools Gateway Routers"
edition = "2021"
license = "LGPL-3.0"
name = "liquidity-pools-gateway-routers"
repository = "https://github.com/centrifuge/centrifuge-chain"
version = "0.0.1"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
frame-support = { workspace = true }
frame-system = { workspace = true }
hex = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
sp-std = { workspace = true }

# Substrate
sp-core = { workspace = true }
sp-runtime = { workspace = true }

# XCM
pallet-xcm-transactor = { workspace = true }
xcm = { workspace = true }
xcm-primitives = { workspace = true }

# EVM
ethabi = { workspace = true }
pallet-ethereum = { workspace = true }
pallet-evm = { workspace = true }

# Custom crates
cfg-traits = { workspace = true }
cfg-types = { workspace = true }

# Local pallets
pallet-ethereum-transaction = { workspace = true }
pallet-liquidity-pools-gateway = { workspace = true }

[dev-dependencies]
lazy_static = { workspace = true }

cumulus-primitives-core = { workspace = true, default-features = true }

xcm-builder = { workspace = true, default-features = true }
xcm-executor = { workspace = true, default-features = true }

pallet-evm-chain-id = { workspace = true, default-features = true }
pallet-evm-precompile-simple = { workspace = true, default-features = true }
pallet-timestamp = { workspace = true, default-features = true }

sp-core = { workspace = true, default-features = true }
sp-io = { workspace = true, default-features = true }

orml-traits = { workspace = true, default-features = true }

cfg-mocks = { workspace = true, default-features = true }
cfg-primitives = { workspace = true, default-features = true }
pallet-balances = { workspace = true, default-features = true }

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "cfg-types/std",
  "cfg-traits/std",
  "cfg-mocks/std",
  "hex/std",
  "frame-support/std",
  "frame-system/std",
  "sp-std/std",
  "sp-core/std",
  "xcm/std",
  "pallet-liquidity-pools-gateway/std",
  "pallet-xcm-transactor/std",
  "pallet-ethereum/std",
  "pallet-ethereum-transaction/std",
  "xcm-primitives/std",
  "ethabi/std",
  "scale-info/std",
  "pallet-evm/std",
  "sp-runtime/std",
]
runtime-benchmarks = [
  "cfg-traits/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
  "cfg-mocks/runtime-benchmarks",
  "cfg-primitives/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-liquidity-pools-gateway/runtime-benchmarks",
  "pallet-ethereum/runtime-benchmarks",
  "pallet-ethereum-transaction/runtime-benchmarks",
  "pallet-xcm-transactor/runtime-benchmarks",
  "xcm-primitives/runtime-benchmarks",
  "pallet-evm/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "cfg-traits/try-runtime",
  "cfg-primitives/try-runtime",
  "cfg-types/try-runtime",
  "cfg-mocks/try-runtime",
  "pallet-liquidity-pools-gateway/try-runtime",
  "pallet-ethereum/try-runtime",
  "pallet-ethereum-transaction/try-runtime",
  "pallet-xcm-transactor/try-runtime",
  "pallet-evm/try-runtime",
  "pallet-balances/try-runtime",
  "sp-runtime/try-runtime",
]
