[package]
authors = ['Substrate DevHub <https://github.com/substrate-developer-hub>']
description = 'FRAME pallet template for defining custom runtime logic.'
edition = '2021'
homepage = 'https://substrate.dev'
license = 'Unlicense'
name = 'pallet-pools'
readme = 'README.md'
repository = 'https://github.com/substrate-developer-hub/substrate-node-template/'
version = '3.0.0'
[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
cfg-primitives = { path = "../../libs/primitives", default-features = false}
cfg-traits = { path = "../../libs/traits", default-features = false }
cfg-types = { path = "../../libs/types", default-features = false }
codec = { package = 'parity-scale-codec', version = '3.0.0', features = ['derive'] , default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
lazy_static = { version = "1.4.0", optional = true, default-features = false }
orml-asset-registry = {  git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "polkadot-v0.9.29" }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "polkadot-v0.9.29" }
pallet-permissions = { path = "../../pallets/permissions", default-features = false}
pallet-pools-registry = { path = "../../pallets/pools-registry", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", default-features = false , branch = "release-v0.9.29" }
rev_slice = { version = "0.1.5", default-features = false }
scale-info = { version = "2.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.119" }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.29" }
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false , branch = "release-v0.9.29" }

# Benchmarking dependencies - optional
frame-benchmarking = { git = "https://github.com/paritytech/substrate", default-features = false , optional = true , branch = "polkadot-v0.9.29" }
pallet-investments = { path = "../../pallets/investments", default-features = false, optional = true}


[dev-dependencies]
cfg-test-utils = { path = "../../libs/test-utils",default-features = true }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.29" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.29" }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = true, branch = "polkadot-v0.9.29" }
pallet-investments = { path = "../../pallets/investments", default-features = true}
pallet-restricted-tokens = { path = "../../pallets/restricted-tokens", default-features = true }
pallet-balances = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.29" }
rand = "0.8.5"
parachain-info = { git = "https://github.com/paritytech/cumulus", default-features = true, branch = "polkadot-v0.9.29" }

[features]
default = ['std']
runtime-benchmarks = [
    'frame-benchmarking/runtime-benchmarks',
    'frame-support/runtime-benchmarks',
    'frame-system/runtime-benchmarks',
    'sp-runtime/runtime-benchmarks',
    'cfg-traits/runtime-benchmarks',
    'cfg-primitives/runtime-benchmarks',
    'cfg-types/runtime-benchmarks',
    'pallet-timestamp/runtime-benchmarks',
    'pallet-investments/runtime-benchmarks',
    'pallet-permissions/runtime-benchmarks',
    'xcm/runtime-benchmarks',
    'polkadot-parachain/runtime-benchmarks',
    'orml-asset-registry/runtime-benchmarks'
]
std = [
    'codec/std',
    'scale-info/std',
    'rev_slice/std',
    'frame-support/std',
    'frame-system/std',
    'pallet-timestamp/std',
    'sp-arithmetic/std',
    'sp-runtime/std',
    'sp-std/std',
    'orml-traits/std',
    'cfg-traits/std',
    'cfg-types/std',
    'cfg-primitives/std',
    'pallet-permissions/std',
    'polkadot-parachain/std',
    'orml-asset-registry/std',
    'xcm/std',
]
try-runtime = ['frame-support/try-runtime', "lazy_static/spin_no_std"]
test-benchmarks = [
    'frame-support/try-runtime',
]
