[package]
name = 'pallet-anchors'
authors = ["Centrifuge Contributors <admin@centrifuge.io>"]
description = 'Anchors pallet for runtime'
edition = '2018'
license = "LGPL-3.0"
repository = "https://github.com/centrifuge/centrifuge-chain/pallets/anchors"
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
serde = { version = "1.0.102" }
codec = { package = 'parity-scale-codec', version = '2.0.0', features = ['derive'], default-features = false }

frame-support = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }
frame-system = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }
frame-benchmarking = { git = "https://github.com/centrifuge/substrate", default-features = false, optional = true, branch = "master" }
sp-runtime = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }
sp-std = { git = "https://github.com/centrifuge/substrate",  default-features = false, branch = "master" }
sp-arithmetic = { git = "https://github.com/centrifuge/substrate",  default-features = false, branch = "master" }
pallet-timestamp = { git = "https://github.com/centrifuge/substrate",  default-features = false, branch = "master" }
pallet-fees = { path = "../fees", default-features = false }

[dev-dependencies]
sp-core = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }
sp-io = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }
pallet-randomness-collective-flip = { git = "https://github.com/centrifuge/substrate",  default-features = false, branch = "master" }
pallet-balances = { git = "https://github.com/centrifuge/substrate",  default-features = false, branch = "master" }
pallet-authorship = { git = "https://github.com/centrifuge/substrate",  default-features = false, branch = "master" }

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'sp-runtime/std',
    'sp-std/std',
    "sp-arithmetic/std",
    'pallet-timestamp/std',
    'pallet-fees/std',
]
runtime-benchmarks = ["frame-benchmarking"]

