[package]
authors = ["Centrifuge <admin@centrifuge.io>"]
description = "Pools Registration for runtime"
edition = "2021"
license = "LGPL-3.0"
name = "pallet-pool-registry"
repository = "https://github.com/centrifuge/centrifuge-chain"
version = "1.0.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }

orml-asset-registry = { workspace = true }
orml-traits = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
xcm = { workspace = true }

# Benchmarking dependencies - optional
frame-benchmarking = { workspace = true, optional = true }
pallet-investments = { workspace = true, optional = true }
pallet-pool-fees = { workspace = true, optional = true }
pallet-pool-system = { workspace = true, optional = true }
pallet-timestamp = { workspace = true, optional = true }

cfg-primitives = { workspace = true }
cfg-traits = { workspace = true }
cfg-types = { workspace = true }

[dev-dependencies]
cfg-mocks = { workspace = true, default-features = true }
cfg-test-utils = { workspace = true, default-features = true }
orml-tokens = { workspace = true, default-features = true }
pallet-balances = { workspace = true, default-features = true }
pallet-permissions = { workspace = true, default-features = true }
pallet-pool-system = { workspace = true }
pallet-timestamp = { workspace = true, default-features = true }
parachain-info = { workspace = true, default-features = true }
serde = { workspace = true }
sp-core = { workspace = true, default-features = true }
sp-io = { workspace = true, default-features = true }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "pallet-investments/runtime-benchmarks",
  "cfg-primitives/runtime-benchmarks",
  "cfg-test-utils/runtime-benchmarks",
  "cfg-traits/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
  "cfg-mocks/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "orml-asset-registry/runtime-benchmarks",
  "pallet-pool-fees/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-pool-system/runtime-benchmarks",
]
std = [
  "parity-scale-codec/std",
  "frame-support/std",
  "frame-system/std",
  "sp-runtime/std",
  "sp-std/std",
  "cfg-traits/std",
  "cfg-types/std",
  "cfg-primitives/std",
  "orml-traits/std",
  "orml-asset-registry/std",
  "frame-benchmarking/std",
  "pallet-investments/std",
  "scale-info/std",
  "xcm/std",
  "pallet-pool-fees/std",
  "pallet-pool-system/std",
]
try-runtime = [
  "cfg-primitives/try-runtime",
  "cfg-traits/try-runtime",
  "cfg-mocks/try-runtime",
  "frame-support/try-runtime",
  "cfg-types/try-runtime",
  "frame-system/try-runtime",
  "orml-asset-registry/try-runtime",
  "pallet-pool-fees/try-runtime",
  "pallet-investments/try-runtime",
  "sp-runtime/try-runtime",
]
