[package]
name = 'pallet-nft'
description = 'Pallet for non-fungible token (NFT) processing'
authors = ['The Centrifugians Tribe']
edition = '2018'
homepage = 'https://centrifuge.io'
license = "LGPL-3.0"
repository = 'https://github.com/centrifuge/centrifuge-chain'
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Substrate dependencies
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }
frame-support = { git = "https://github.com/paritytech/substrate.git", default-features = false , branch = "polkadot-v0.9.13" }
frame-system = { git = "https://github.com/paritytech/substrate.git", default-features = false , branch = "polkadot-v0.9.13" }
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", default-features = false, optional = true , branch = "polkadot-v0.9.13" }
pallet-balances = { git = "https://github.com/paritytech/substrate.git", default-features = false , branch = "polkadot-v0.9.13" }
sp-core = { git = "https://github.com/paritytech/substrate.git", default-features = false , branch = "polkadot-v0.9.13" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", default-features = false , branch = "polkadot-v0.9.13" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false , branch = "polkadot-v0.9.13" }

# Centrifuge Chain dependencies
chainbridge = { git = "https://github.com/centrifuge/chainbridge-substrate.git", default-features = false, branch = "polkadot-v0.9.12" }
pallet-anchors = { path = "../anchors", default-features = false }
pallet-fees = { path = "../fees", default-features = false }
proofs = { path = "../../libs/proofs", default-features = false }
runtime-common = { path = "../../runtime/common", default-features = false }
unique-assets = { git = "https://github.com/centrifuge/unique-assets", default-features = false, branch = "polkadot-v0.9.12" }
common-traits = { path = "../../libs/common-traits", default-features = false }

[dev-dependencies]
# Testing and mocking dependencies
pallet-anchors = { path = "../anchors", default-features = false }
pallet-authorship = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.13" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.13" }
proofs = { path = "../../libs/proofs", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.13" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.13" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.13" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.13" }

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'pallet-balances/std',
    'proofs/std',
    'sp-core/std',
    'sp-runtime/std',
    'sp-std/std',
    'chainbridge/std',
    'pallet-anchors/std',
    'pallet-fees/std',
    'proofs/std',
    'unique-assets/std',
    'common-traits/std'
]
