[package]
name = "pallet-restricted-tokens"
description = "Pallet for handling token-transfers. Allows to restrict specific token usage to some users."
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true }

cfg-primitives = { workspace = true }
cfg-traits = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

## Benchmarking dependencies
cfg-types = { workspace = true, optional = true }
frame-benchmarking = { workspace = true, optional = true }
orml-tokens = { workspace = true, optional = true }
orml-traits = { workspace = true, optional = true }
pallet-balances = { workspace = true, optional = true }
pallet-permissions = { workspace = true, optional = true }

[dev-dependencies]
cfg-types = { workspace = true, default_features = true }
orml-tokens = { workspace = true, default_features = true }
orml-traits = { workspace = true, default_features = true }
pallet-balances = { workspace = true, default_features = true }
sp-io = { workspace = true, default_features = true }

[features]
default = ["std"]
std = [
  "cfg-primitives/std",
  "cfg-traits/std",
  "cfg-types/std",
  "parity-scale-codec/std",
  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-permissions/std",
  "scale-info/std",
  "serde/std",
  "sp-runtime/std",
  "sp-std/std",
]
runtime-benchmarks = [
  "cfg-primitives/runtime-benchmarks",
  "cfg-traits/runtime-benchmarks",
  "cfg-types/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "orml-tokens/runtime-benchmarks",
  "orml-traits",
  "pallet-balances/runtime-benchmarks",
  "pallet-permissions/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
try-runtime = [
  "cfg-primitives/try-runtime",
  "cfg-traits/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "pallet-permissions/try-runtime",
  "sp-runtime/try-runtime",
]
