[package]
name = 'pallet-bridge'
description = 'Bridge pallet'
authors = ['The Centrifugians Tribe']
edition = '2021'
homepage = 'https://centrifuge.io'
license = "LGPL-3.0"
repository = 'https://github.com/centrifuge/centrifuge-chain'
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Substrate basic primitives
codec = { package = "parity-scale-codec", version = "3.0", default-features = false }
scale-info = { version = "2.0", default-features = false, features = ["derive"] }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
pallet-balances = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }

# Centrifuge Chain dependencies
chainbridge = { git = "https://github.com/centrifuge/chainbridge-substrate.git", default-features = false, branch = "polkadot-v0.9.28" }
pallet-nft = { path = "../nft", default-features = false }
cfg-traits = { path = "../../libs/traits", default-features = false }

[dev-dependencies]
# Testing/mocking dependencies
pallet-anchors = { path = "../anchors", default-features = true }
pallet-bridge-mapping = { path = "../bridge-mapping", default-features = true }
pallet-authorship = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.28" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.28" }
proofs = { path = "../../libs/proofs", default-features = true }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.28" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.28" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = true, branch = "polkadot-v0.9.28" }
cfg-types = { path = "../../libs/types", default-features = true}
cfg-primitives= { path = "../../libs/primitives", default-features = true}

[features]
default = ['std']
runtime-benchmarks = ["chainbridge/runtime-benchmarks"]
std = [
    'codec/std',
    'scale-info/std',
    'frame-support/std',
    'frame-system/std',
    'pallet-balances/std',
    'sp-core/std',
    'sp-runtime/std',
    'sp-std/std',
    'chainbridge/std',
    'pallet-nft/std',
    'cfg-traits/std',
]
