[package]
name = "altair-runtime"
version = "2.0.0"
authors = ["Centrifuge <admin@centrifuge.io>"]
edition = "2018"
build = "build.rs"
license = "LGPL-3.0"
homepage = "https://centrifuge.io/"
repository = "https://github.com/centrifuge/centrifuge-chain"

[dependencies]
# external pallet
#substrate-pallet-multi-account = { branch = "rococo-v1", git = "https://github.com/centrifuge/substrate-pallet-multi-account", rev = "ef988aba4f73b57328110592b75d90fd0510d718", default-features = false }
# chainbridge = { version = "0.0.1", git = "https://github.com/centrifuge/chainbridge-substrate.git", rev = "6ef2738d8179299bf94159ae9e79d3f27be5271c" , default-features = false}
#chainbridge = { git = "https://github.com/jaybutera/chainbridge-substrate", default-features = false}
#unique_assets = { version = "0.1.0", git = "https://github.com/centrifuge/unique-assets", rev = "d4ff80eb8ef6a192012fd0e2f0d99f7dc65ac9f0", default-features = false }
#unique_assets = { version = "0.1.0", git = "https://github.com/jaybutera/unique-assets", default-features = false }
#bridge-mapping = { path = "../../pallets/bridge-mapping", default-features = false }

# Local dependencies
pallet-anchors = { path = "../../pallets/anchors", default-features = false }
pallet-claims = { path = "../../pallets/claims", default-features = false }
pallet-fees = { path = "../../pallets/fees", default-features = false }

# third-party dependencies
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
integer-sqrt = { version = "0.1.2" }
safe-mix = { version = "1.0", default-features = false }
smallvec = "1.4.0"
static_assertions = "1.1.0"
hex-literal = { version = "0.2.1", optional = true }
rustc-hex = { version = "2.0", optional = true }
serde = { version = "1.0.102", optional = true }

# parachain
parachain-info = { git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }
#cumulus-parachain-upgrade = { git = "https://github.com/centrifuge/cumulus.git", default-features = false, branch = "rococo-v1" }
cumulus-pallet-parachain-system = { git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }
cumulus-primitives-core = {git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }
cumulus-primitives-utility = {git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }
#cumulus-message-broker = {git = 'https://github.com/centrifuge/cumulus', default-features = false, branch = 'rococo-v1'}
cumulus-pallet-xcm = {git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }
cumulus-pallet-xcmp-queue = {git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }
cumulus-pallet-dmp-queue = {git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }
cumulus-pallet-aura-ext = {git = "https://github.com/centrifuge/cumulus", default-features = false, branch = "centrifuge" }


# polkadot dependencies
polkadot-parachain = { git = "https://github.com/centrifuge/polkadot", default-features = false , branch = "centrifuge" }
xcm = { git = "https://github.com/centrifuge/polkadot", default-features = false , branch = "centrifuge" }
pallet-xcm = { git = "https://github.com/centrifuge/polkadot", default-features = false , branch = "centrifuge" }
xcm-executor = { git = "https://github.com/centrifuge/polkadot", default-features = false , branch = "centrifuge" }
xcm-builder = { git = "https://github.com/centrifuge/polkadot", default-features = false , branch = "centrifuge" }

# primitives
sp-authority-discovery = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-consensus-babe = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-block-builder = { git = "https://github.com/centrifuge/substrate",  default-features = false, branch = "master" }
sp-inherents = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
node-primitives = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-offchain = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-core = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-io = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-std = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-api = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-runtime = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-staking = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-session = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-transaction-pool = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-version = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-arithmetic = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
sp-consensus-aura = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }

# frame dependencies
frame-executive = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
frame-support = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
frame-system = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
frame-benchmarking = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master", optional = true }
frame-system-rpc-runtime-api = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-authority-discovery = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-authorship = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-babe = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-balances = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-collective = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-democracy = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-elections-phragmen = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
#pallet-finality-tracker = { branch = "rococo-v1", git = "https://github.com/centrifuge/substrate.git",  default-features = false }
pallet-grandpa = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-im-online = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-indices = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-membership = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-multisig = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-offences = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-proxy = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-randomness-collective-flip = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-session = { git = "https://github.com/centrifuge/substrate",  default-features = false, features = ["historical"] , branch = "master" }
pallet-staking = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-staking-reward-curve = { git = "https://github.com/centrifuge/substrate", branch = "master" }
pallet-timestamp = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-utility = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-transaction-payment = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-identity = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-scheduler = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-vesting = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-sudo = { git = "https://github.com/centrifuge/substrate",  default-features = false , branch = "master" }
pallet-aura = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }
pallet-society = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master" }

max-encoded-len = { git = "https://github.com/centrifuge/substrate", default-features = false, branch = "master", features = [ "derive" ] }

[build-dependencies]
#wasm-builder-runner = { version = "1.0.5", package = "substrate-wasm-builder-runner", git = "https://github.com/centrifuge/substrate.git", rev = "e271ae7fda72a7ad55ff3c216b8b2abae0ae31fd" }
substrate-wasm-builder = "3.0.0"

[features]
default = ["std"]
std = [
#    "bridge-mapping/std",
#    "unique_assets/std",
    "pallet-claims/std",
    "pallet-fees/std",
    "pallet-anchors/std",
    "sp-authority-discovery/std",
    "pallet-authority-discovery/std",
    "pallet-authorship/std",
    "sp-consensus-babe/std",
    "pallet-babe/std",
    "pallet-balances/std",
    "sp-block-builder/std",
    "codec/std",
    "pallet-collective/std",
    "pallet-democracy/std",
    "pallet-elections-phragmen/std",
    "frame-executive/std",
    #"pallet-finality-tracker/std",
    "pallet-grandpa/std",
    "pallet-im-online/std",
    "pallet-indices/std",
    "sp-inherents/std",
    "pallet-membership/std",
    "pallet-multisig/std",
    "pallet-identity/std",
    "pallet-scheduler/std",
    "node-primitives/std",
    "sp-offchain/std",
    "pallet-offences/std",
    "pallet-proxy/std",
    "sp-core/std",
    "pallet-randomness-collective-flip/std",
    "sp-std/std",
    "serde",
    "pallet-session/std",
    "sp-api/std",
    "sp-runtime/std",
    "sp-staking/std",
    "pallet-staking/std",
    "sp-session/std",
    "frame-support/std",
    "frame-system-rpc-runtime-api/std",
    "frame-system/std",
    "pallet-timestamp/std",
    "pallet-transaction-payment-rpc-runtime-api/std",
    "pallet-transaction-payment/std",
    "pallet-vesting/std",
    "sp-transaction-pool/std",
    "pallet-utility/std",
    "sp-version/std",
    "sp-arithmetic/std",
#    "chainbridge/std",
    #"substrate-pallet-multi-account/std",
    "sp-io/std",
    "rustc-hex",
    "safe-mix/std",
    "cumulus-pallet-parachain-system/std",
    "cumulus-pallet-xcmp-queue/std",
    "parachain-info/std",
    "xcm/std",
    "xcm-executor/std",
    "xcm-builder/std",
    "cumulus-pallet-xcm/std",
    #"cumulus-message-broker/std",
    "cumulus-pallet-aura-ext/std",
    "pallet-aura/std",
    "sp-consensus-aura/std",
    "max-encoded-len/std",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "hex-literal",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "pallet-fees/runtime-benchmarks",
    "pallet-xcm/runtime-benchmarks",
    "xcm-builder/runtime-benchmarks",
    "pallet-collective/runtime-benchmarks",
    "pallet-society/runtime-benchmarks",
]

# A feature that should be enabled when the runtime should be build for on-chain
# deployment. This will disable stuff that shouldn't be part of the on-chain wasm
# to make it smaller like logging for example.
on-chain-release-build = [
    "sp-api/disable-logging",
]
