name: Docker Build
on:
  # Keep in mind the Docker tagging on the "metadata" step if you add new triggers
  workflow_dispatch: # In case a repo contributor needs a specific docker tag built.
  push:
    branches: [main]
  release:
    # Release logic:
    #  https://docs.github.com/en/webhooks/webhook-events-and-payloads?actionType=unpublished#release
    types: [ created ] # GITHUB_REF == tag pushed with the release
  pull_request:
    paths:
      - ".github/workflows/build-docker.yml"
      - "docker/"
      - ".dockerignore"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}${{ github.event_name }}
  cancel-in-progress: true
jobs:
  docker:
    strategy:
      matrix:
        target: [ release, test ]
    runs-on: ubuntu-latest-8-cores
    permissions:
      contents: write # to update the GH release w/ Docker tags
      packages: write # to upload images to ghcr
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac #v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 #v3

      - name: DockerHub Registry Login
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Github Registry login
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: echo "NOW=$(date -u +%y-%m-%d)" >> $GITHUB_ENV

      - name: Setup docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 #v5
        with:
          images: |
            ghcr.io/centrifuge/centrifuge-chain
            ${{ github.event_name != 'pull_request' && 'centrifugeio/centrifuge-chain'}}
          tags: |
            type=semver,pattern={{raw}},prefix=${{ matrix.target == 'test' && 'test-' || '' }}
            type=raw,value=latest,enable=${{ github.event_name == 'release' }}
            type=ref,event=tag,suffix=-{{sha}}-${{ env.NOW }},prefix=${{ matrix.target == 'test' && 'test-' || '' }}
            type=ref,event=pr,suffix=-{{sha}}-${{ env.NOW }},prefix=${{ matrix.target == 'test' && 'test-' || '' }}PR
            type=ref,event=branch,prefix=${{ matrix.target == 'test' && 'test-' || '' }},suffix=-{{sha}}-${{ env.NOW }}

      - name: Configure GHA cache
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea #v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Build and push centrifugeio/centrifuge-chain
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 #v5
        with:
          context: .
          file: ./docker/centrifuge-chain/Dockerfile
          build-args: |
            FEATURES=${{ matrix.target == 'test' && 'fast-runtime' || '' }}
            BUILD_DATE=${{ env.NOW }}
            VERSION=${{env.VERSION}}
          # Always push, either to ghcr or Dockerhub
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          # Cache options:
          # https://docs.docker.com/build/ci/github-actions/cache/
          cache-from: type=gha
          # cache-from: type=registry,ref=centrifugeio/centrifuge-chain:${{ github.ref }}
          # https://docs.docker.com/build/cache/backends/inline/
          cache-to: type=gha, mode=max
          # cache-to: type=registry,ref=centrifugeio/centrifuge-chain:${{ github.ref }}, mode=max

      - name: Update DockerHub descriptions
        if: contains(github.ref, 'refs/tags/release-v')
        uses: peter-evans/dockerhub-description@dc67fad7001ef9e8e3c124cb7a64e16d0a63d864 #v3.4.2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
          repository: centrifuge/centrifuge-chain
          short-description: ${{ github.event.repository.description }}
          enable-url-completion: true

      - name: Update GitHub release
        if: github.event_name == 'release' && matrix.target == 'release'
        uses: softprops/action-gh-release@v1
        with:
          append_body: true
          body: |
            **Docker tags:**
               ${{ steps.meta.outputs.tags }}

      - if: failure()
        name: Check available space after build failed
        run: |
          docker volume ls
          df -h
