#on:
#  push:
#    branches: [master]
#  pull_request:
#name: Tests
#jobs:
#  tests:
#    name: ${{ matrix.target }}
#    strategy:
#      matrix:
#        os: [ubuntu-latest]
#        target: [runtime-test]
#    runs-on: ${{ matrix.os }}
#    env:
#      RUST_TOOLCHAIN: "nightly-2021-03-15"
#    steps:
#      - name: Check out code
#        uses: actions/checkout@v2
#      - name: Install latest nightly
#        uses: actions-rs/toolchain@v1
#        with:
#          toolchain: ${{ env.RUST_TOOLCHAIN }}
#          default: true
#      - uses: Swatinem/rust-cache@v1
#      - name: Runtime tests
#        run: ./ci/script.sh
#        env:
#          TARGET: ${{ matrix.target }}

